<h1>New Appointment</h1>
<a [routerLink]="['/logout']">logout</a>


<table>
<form (submit)="onSubmit()">
    <tr>
      <td>Date:</td>
      <td>
        <input type="date" name="date"
        min="{{tomorrow | date: 'yyyy-MM-dd'}}"
        required
        [(ngModel)]="appointment.date"
        #date="ngModel"
        >
        Time: 
        <select name="time"
        required
        [(ngModel)]="appointment.time"
        #time="ngModel"
        >
            <option value="8:00 AM">8:00 AM</option>
            <option value="8:15 AM">8:15 AM</option>
            <option value="8:30 AM">8:30 AM</option>
            <option value="8:45 AM">8:45 AM</option>
           
            <option value="9:00 AM">9:00 AM</option>
            <option value="9:15 AM">9:15 AM</option>
            <option value="9:30 AM">9:30 AM</option>
            <option value="9:45 AM">9:45 AM</option>
           
            <option value="10:00 AM">10:00 AM</option>
            <option value="10:15 AM">10:15 AM</option>
            <option value="10:30 AM">10:30 AM</option>
            <option value="10:45 AM">10:45 AM</option>
           
            <option value="11:00 AM">11:00 AM</option>
            <option value="11:15 AM">11:15 AM</option>
            <option value="11:30 AM">11:30 AM</option>
            <option value="11:45 AM">11:45 AM</option>
           
            <option value="12:00 PM">12:00 PM</option>
            <option value="12:15 PM">12:15 PM</option>
            <option value="12:30 PM">12:30 PM</option>
            <option value="12:45 PM">12:45 PM</option>
           
            <option value="1:00 PM">1:00 PM</option>
            <option value="1:15 PM">1:15 PM</option>
            <option value="1:30 PM">1:30 PM</option>
            <option value="1:45 PM">1:45 PM</option>
           
            <option value="2:00 PM">2:00 PM</option>
            <option value="2:15 PM">2:15 PM</option>
            <option value="2:30 PM">2:30 PM</option>
            <option value="2:45 PM">2:45 PM</option>
           
            <option value="3:00 PM">3:00 PM</option>
            <option value="3:15 PM">3:15 PM</option>
            <option value="3:30 PM">3:30 PM</option>
            <option value="3:45 PM">3:45 PM</option>
           
            <option value="4:00 PM">4:00 PM</option>
            <option value="4:15 PM">4:15 PM</option>
            <option value="4:30 PM">4:30 PM</option>
            <option value="4:45 PM">4:45 PM</option>
           
            <option value="5:00 PM">5:00 PM</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Complaint:</td>
      <td>
        <textarea rows="5" cols="50" name="complaint"
        required
        [(ngModel)]="appointment.complaint"
        #complaint="ngModel"
        minlength="10"
        ></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Add Appointment" *ngIf="date.valid&&complaint.valid&&time.valid">
        <input type="submit" value="Add Appointment" disabled="true" *ngIf="!(date.valid&&complaint.valid&&time.valid)">
        <button [routerLink]="['/dashboard']">Cancel</button>
      </td>
    </tr>
  </form>
</table>
<p style="color:red">PLEASE NOTE: if we already have 3 appointments that day, You will be denied</p>
<p style="color:red" *ngIf="!date.valid">Date must be after today</p>
<p style="color:red" *ngIf="!time.valid">please select a time</p>
<p style="color:red" *ngIf="!complaint.valid">Complaint must be 10 letters</p>