<h1>Hello {{user}}!</h1>
<a [routerLink]="['/logout']">logout</a>
<h1>Doctor's Appointments:</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Patient Name</th>
    <th>Complaint</th>
  </tr>
  <tr *ngFor="let x of appointments">
    <td>{{x.date}}</td>
    <td>{{x.time}}</td>
    <td>{{x.patient}}</td>
    <td>
      <span>{{x.complaint}}</span>
      <form (submit)="onSubmit(x._id)">
        <button [routerLink]="['/delete',x]" *ngIf="x.patient == user && x.date > tomorrow">Cancel</button>
      </form>
    </td>
  </tr>
</table>
<br>

<button [routerLink]="['/new_appointment']"
style="color:white; background-color:blue"> Add a New Appointment</button>
